@font-face {
    font-family: ukai;
    src: url("../fonts/ukai.ttc");
}

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    /*-webkit-touch-callout: none;*/                /* prevent callout to copy image, etc when tap to hold */
    /*-webkit-text-size-adjust: none;*/             /* prevent webkit from resizing text to fit */
    /*-webkit-user-select: text;*/                  /* prevent copy paste, to allow, change 'none' to 'text' */
    /*background-attachment:fixed;*/
    /*font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;*/
    font-family:Georgia;
    font-size:200%;
    color:#22002B;
    height:100%;
    margin:0px;
    padding: 2em 0 0 0;
    width:100%;
}

.search {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0px;
    height: 2em;
    z-index: 99;
}

#searchfield {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5%;
    padding-right: 0.5%;
    height: 100%;
    font-size: 100%;
    width: 85%;
    z-index: 100;
}

.iconcontainer {
    background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%); /* W3C */
    display: table;
    vertical-align: middle;
    text-align: center;
    position: absolute;
    top: 0;
    width: 7.5%;
    height: 100%;
    border-bottom: 2px ridge;
}

.stariconcontainer {
    left: 0;
}

.searchiconcontainer {
    right: 0;
}

.icon {
    vertical-align: middle;
    font-size: 140%;
}

/*.staricon {
    display: table-cell;
    vertical-align: middle;
    font-size: 140%;
}*/

/*.searchicon {
    display: table-cell;
    vertical-align: middle;
    font-size: 140%;
}*/

.showicon {
    display: table-cell;
}

.hideicon {
    display: none;
}

.stariconhide {
    color: lightgrey;
}

.showrow {
    display: block;
}

.hiderow {
    display: none;
}

.row {
    position: relative; /* Necessary to properly position the stars */
}

.row ul {
    list-style-type: none;
    margin-bottom: 3.5em;
    padding-left: 3em;
    padding-right: 1em;
}

.row ul li {
    display: block;
    margin-bottom: 0.6em;
}

.showcontainer {
    display: block;
}

.hidecontainer {
    display: none;
}

.starcontainer {
    position: absolute;
    width: 3em;
    height: 100%;
    color: #8000A3;
}

.startable {
    width: 100%;
    height: 100%;
    display: table;
    vertical-align: middle;
    text-align: center;
}

.star {
    vertical-align: middle;
    font-size: 200%;
}

.chinese {
    font-family:ukai;
    font-size:250%;
}

.english {
}

.pinyin {
}

.category {
     -moz-border-radius: 0.2em; /* FF1+ */
  -webkit-border-radius: 0.2em; /* Saf3-4 */
          border-radius: 0.2em; /* Opera 10.5, IE 9, Saf5, Chrome */
          margin: 0.2em;
          padding-left: 0.2em;
          padding-right: 0.2em;
          background-color:#22002B;
          color:white;
}

